

/*        Font Import:        */

/*font-family: 'Fredericka the Great', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/*font-family: 'Squada One', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

/*font-family: 'Yeseva One', cursive;*/

@import  url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");


/*          Wildcard         */

*{margin:0;
padding:0;
box-sizing:border-box;
}

/*Generic Title @ Detials per section*/
.title{
  display:inline-block;
  font-family: 'Squada One', cursive;
  font-size: 30px;
  color: rgba(255,255,255,.97);
  text-shadow: 1px 2px 3px rgba(153,0,0);
  text-align:center;
  height:40px;
  width: 100%;
  background-color: rgba(153,0,0,0.5);
}

.detail{ 
  display:inline-block;
  font-family: 'Yeseva One', cursive;
  font-weight:100;
  font-style:normal;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align:center;

}

/*Control Container*/

.con{
  display:block;
  width:auto;
  padding:auto;
}

         
/*           Body           */

body{
overflow-y:scroll;
display: grid;
grid-template-columns: auto;
grid-template-rows: repeat 9(auto);
grid-template-areas:
'header'
 'nav'
 'main'
 'mix'
 'recipe'
 'lingo' 
 'skill'
  'tool'
 'footer';
}

/*          Header            */

header{
  min-height:200px;
  width: 100%;
  grid-area: header;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-image: url('img/bar_bg.jpg');
  background-position:center;
  background-size:cover;
  box-shadow: 1px 2px 4px rgba(0,0,0,.5);  
}

.header_con{
  display:inline-block;
  color: white;
  border-radius: 6px;
  background-color: rgba(153,0,0,0.5);
  box-shadow: 1px 5px 5px black;
}

#header_title{
  font-size: 10vw;
  font-weight:300;
  font-family: 'Fredericka the Great',      cursive;
  border-bottom: 1px solid white;
}

#header_line{
    margin-top: 2%;
    font-size: 7vw;
    font-family: 'Squada One', cursive;
    font-style:italic;
}

/*      Navigation     */


nav{
  grid-area: nav;
  display:flex;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 5px;
  width:99%;
  height: auto;
  flex-flow:column nowrap;
  align-items:center;
  justify-content:space-around;
  background-color:rgba(153,0,0,0.7);
  box-shadow: 2px 3px 5px rgb(0,0,0,.5);
}

#nav_name{display:none;
}

nav a{
  display:none;
  margin-top: 7px;
  font-size: 5vw;
  color: rgba(255,255,255,.8) ;
  font-family: 'Squada One', cursive;
  border-bottom: 1px solid rgba(255,255,255,.7);
  border-radius: 5px;
  text-decoration:none;
}


nav a:hover{
  color: rgba(0,0,0,.4);
  transform:scale(1.2,1.2)
}

nav a:last-child{margin-bottom: 10px;
}



#burger{
  cursor:pointer;
  margin:7px auto;
}

#burger:hover{
  transform:scale(1.5,1.5)
}
  
.show-nav{
  display:inherit;
}

/*           Main              */

 main{
  grid-area: main;
  display:flex;
  justify-content:space-around;
  flex-direction:column;
  align-items:center;
  min-height: 350px;
  width:100%;
  padding:5px;
  margin-top: 5px;
  margin-bottom: 5px; 
}
 
  
 main ul{
  font-size: 5vw;
  margin:3% auto;
  list-style-type:none;
  font-family: sans-serif;
  text-align:center;
}

/*        Carousel     */

#mix{
  grid-area: mix;
  display:flex;
  justify-content:space-around;
  flex-direction:column;
  align-items:center;
  min-height: 420px;
  width:100%;
  padding:5px;
  margin-top: 5px;
  margin-bottom: 15px; 

}

.carousel{
  position:relative;
  height: 280px;
  width:300px;
  margin: 0 auto;
}


.carousel_cont{
 background-color:crimson;
 box-shadow: 1px 5px 4px black;
 position:relative;
 height:100%;
 width:100%;
 overflow:hidden;
}

.carousel_track{
  position:relative;
  height:100%;
  margin:0;
  padding:0; 
  list-style:none;
  border-radius: 5px;
  transition: transform 250ms ease-in;
  
}

.carousel_slide{
  position:absolute;
  top:0;
  bottom:0;
  width: 100%;
}

.carousel_img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.carousel_button{
  color: black;
  background-color:transparent;
  font-size: 25px;
  font-weight:600;
  position:absolute;
  height:30px;
  width:30px;
  top:112%;
  transform:translateY(-100%);
  border:1px solid black;
  cursor:pointer;
}

.carousel_button:hover{
  color:red;
  top:110%;
  transform:translateY(-100%);
}

.carousel_button_right{ 
 right:-0px;
}






/*  Recipe Guide   */


#recipe{
  grid-area: recipe;
  display:flex;
  justify-content:space-around;
  flex-direction:column;
  align-items:center;
  min-height: 350px;
  width:100%;
  padding:5px;
  margin-top: 5px;
  margin-bottom: 5px; 
}

#recipe_control{
display:flex;
flex-direction:row;
justify-content:space-around;
align-items:center;  
background-color: rgba(153,0,0,0.5);
height: 20px;
width:200px;
margin-top: 10px;
border-radius:8px;
}


#recipe_form{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  flex-wrap:nowrap;
  border: 1px sold black;
  background-color:grey;
  align-items:center;
  height:330px;
  width: 300px;
  border-radius:5px;
}

form select{
  width: 125px;
}
#recipe_out{
  text-align:center;
  width:100%;
}

#recipe_box{
  background-color: white; 
  border-radius: 5px;
  width: 250px;
  height: 250px;
  margin-bottom:20px;
}

/*    Lingo Section     */

#lingo{
  grid-area:lingo;
  display:flex;
  justify-content:space-around;
  flex-direction:column;
  align-items:center;
  min-height: 350px;
  width:100%;
  padding:5px;
  margin-top: 5px;
  margin-bottom: 5px; 
}
      
    
.tab-group1{
  display:block;
  margin: 5px auto;
  max-width: 40em;
  width:300px;
  border: 1px solid black;
}

.tab-group2{
  display:block;
  margin: 5px auto;
  max-width: 40em;
  width:300px;
  border: 1px solid red;
}

.tab:nth-child(odd){
  background-color:transparent;
}

.tab{
  position: relative;
  width: 100%;
  text-align:center;
}



.tab input{
  position:absolute;
  left:0;
  top:0;
  z-index: -999;
}
  
.tab label {
 background-color: #72d2c6;
 color: #fff;
 display:block;
 font-weight:bold;
 line-height:3;
 padding-left:.5em;
 margin-bottom:.5em;
 transition: letter-spacing .55s;
}

.tab input:focus + label,
.tab label:hover {
  background-color:#85D8CE;
  letter-spacing: 1px;
}

.tab-content{
  max-height:0;
  overflow:hidden;
  transition: all .35s;
  margin: 5px auto;
}

.tab-content p{ 
  margin:1em 0;
}

.tab input:checked ~ .tab-content{
  max-height: 6.25em;
}
    
/*Skill Section*/

#skill{
  grid-area:skill;
  display:flex;
  justify-content:space-around;
  flex-direction:column;
  align-items:center;
  min-height: 350px;
  width:100%;
  padding:5px;
  margin-top: 5px;
  margin-bottom: 5px; 
}

.card{
  display: flex;
  flex-direction:column;
 
  align-items:stretch.0;112
  width:90%; 
  height:auto; 
  margin-top: 5%; 
  border: 1px solid black;
}

.card_img{
  width:100%;
}

.card_title{
  width:100%;
  height:auto;
  background-color:rgba(153,0,0,.65);
  font-size: 14vw; /*  adjust @ 768px*/
  text-align:center;
}

.card_txt{
   background-color:rgba(153,0,0,.4);
   font-size: 7vw; /*  adjust @ 768px*/
   text-align:center;
   word-wrap:break-word;
  height:40%;
}

/*         Tool Section         */


#tool{
  grid-area:tool;
  display:flex;
  justify-content:space-around;
  flex-direction:column;
  align-items:center;
  min-height: 350px;
  width:100%;
  padding:5px;
  margin-top: 5px;
  margin-bottom: 5px; 
}



#bar-glass{
  width:100%;
  height: 225px;
 }


table{
  margin-top: 5px;
  border:1px solid red;
  width: 300px;
  text-align:center;
}



td{
  font-size: 1.75rem;
  border-bottom: 1px solid grey;
}

tr{margin:5px 5px;
}

/*    footer   */

#footer{
grid-area:footer;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-around;
height:auto;
width:100vw;
background-color:rgba(153,0,0,0.7);
border-top-left-radius:  5px;
border-top-right-radius:  5px;
border-top: .5px solid grey;
}


#footer_title{
font-family: 'Fredericka the Great', cursive;
font-size: 25px;
}

#footer_line{
font-family: 'Squada One', cursive;
font-size: 20px;
font-style:italic;
}

#footer input {
 text-align:center; 
}

#up{
  max-height:30px;
  max-width:30px;
}

#up:hover{
transform:scale(1.5,1.5);
}


/*      Media Queries   */


@media screen and (min-width:374px){
  
table {
  margin-left:11vw;
}
}

@media only screen and (min-width: 767px){
  
/*  Header  */
#header_title{
  font-size: 60px;
}

#header_line{
    margin-top: 2%;
    font-size: 35px;
}
 
/*        Nav     */

nav{
  flex-direction:row;
  justify-content:space-between;
  width:100vw;
  height: 40px;
  margin-bottom:5px;
}
  
#burger{
  display:none;
}

#nav_name{
  display:inline-block;
  margin-left: 1%;
  width: 25%;
  font-family: 'Fredericka the Great', cursive;
  font-size: 2.9vw;
  color: rgb(255,255,255,.7);
  text-align:center;
}

nav a{
  display:block;
  margin:0 5px;
  font-size: 20px;
}
  
nav a:hover{
  color:black;
  transform:scale(1.25,1.25);
}    
  
nav a:last-child{margin-bottom:0px;
}

/*     Title      */
  
.title{
  font-size: 40px;
  
}

.detail{ 
  font-size: 25px;
}
  
 main ul{
  font-size: 20px;
  }
 
/*  Carousel*/
  
  #mix{
  height: 600px;
  width:100%;
}

.carousel{
  height: 450px;
  width:450px;
}
  
  .carousel_button{
  top:110%;
}
  
  
/*  Recipe   */
  #recipe_control{
  margin-bottom:5px;
}
  
  #recipe_form{
  height:200px;
  width: 400px;
}
  
 #recipe_out{
  background-color: white; 
  padding: 5px;
  text-align:center;
  border-radius: 5px;
  width:100%;
  height: 100;
}
 
/*    Lingo     */
  
#lingo{
  display:block;
  min-height: 350px;
  width:100%;
  padding:5px; 
}
          
.tab-group1{
  float:left;
  margin-left: 10%;
}

.tab-group2{
 float:right;
  margin-right: 10%;
}

#lingo_box .detail{
   display:inline-block;
    margin-left: 220px;
  }
  
  
  
/*      Skill       */
  
.card{
  height: auto;
  width:300px;
  justify-content:center;
}
.card_title{
  font-size: 30px; 
 }

.card_txt{
   font-size: 22px;
}
  
.card_img{
  max-height: 160px;
  }

/*  Tool */
  
  
#bar-glass{
  width:50%;
  height: 255px;
 }
  
table {
  margin-left:0vw;

}
  
  
/*     Control Div    */
  
  
.con{
    align-self:center;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:85%;
    height:auto;
  }
} 


/*       1024px       */

  
@media only screen and (min-width: 1024px){
/*   Title */
.title{
  font-size: 55px;
  height:auto;
}

.detail{ 
  font-size: 25px;
}  
/*   Header   */
header{
 height: 450px;
  }
  
#header_title{
  font-size: 90px;
}

#header_line{
    margin-top: 2%;
    font-size: 60px;
}
/* nav   */
nav{
  height: 50px;
}

nav a{
  font-size: 35px;
  margin: 0;
  }
  
nav a:last-child{
    margin-right:2%;
}
  
/*  Carousel  */
  
    #mix{
  height: 800px;
  width:100%;
}

.carousel{
  height: 600px;
  width:600px;
}
  
  .carousel_button{
  top:107%;
  font-size:30px;
}
  
  
/*    lingo   */
  
.tab-group1{
  float:left;
  margin-left: 15%;
}

.tab-group2{
 float:right;
  margin-right: 15%;
}

#lingo_box .detail{
   display:inline-block;
    margin-left: 320px;
  }
/*  footer*/
#footer_title{
font-size: 40px;
}

#footer_line{
font-size: 30px;
}
  
}

@media screen and (min-width: 1040px){
.tab-group1{
  margin-left: 20%;
}

.tab-group2{
 margin-right: 20%;
}

#lingo_box .detail{
    margin-left: 470px;
  }

}

